#inputContainer  {
  display: flex;
  align-items: center;

  background: #211F30;
  border-radius: 20px;
  height:48px;
  padding-left:16px;
  @media (min-width:0px) {
    margin: 0 auto;
    width:80%;
  }
  @media (min-width:725px) {
    margin-left: 25px;
    width:327px;
  }
    input {

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #BBBBBB;
      opacity: 0.5;
      background-color: #211F30;
      border:0;
      @media (min-width:0px) {
        margin-left:5px;
        width:150px;
      }
      @media (min-width:320px) {
        margin-left:10px;
        width:180px;
      }
      @media (min-width:390px) {
        margin-left:20px;
        width:230px;
      }
    }
  }

#menuGenre {
  margin-top: 25px;
  display: inline-flex;
  flex-flow: row nowrap;
  overflow: auto;
  max-width: 100%;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b3000056;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  ion-text{
    margin-right:20px;
    margin-left:20px;
    padding-bottom:10px;
    cursor: pointer;
  }
}

.displayMovieByGenre {
  display:flex;
  justify-content: space-evenly;
  .genreMovieCard {
    height: 393px;
    min-width: 280px;
    max-width: 280px;
    background-size: cover;
    cursor: pointer;

    ion-card-header {
      height: 393px;

      ion-card-title {
        position: absolute;
        bottom: 10px;
        left: 10%;
        width: 80%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #FFFFFF55;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        color: white;
      }

      ion-card-subtitle {
        position: absolute;
        top: 10px;
        right: 10%;
        width: 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #FFFFFF55;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        color: white;

        ion-text {
          padding-left: 0.5rem;
          padding-top: 0.2rem;
        }
      }
    }
  }
}

#waitingForSearch{
  display: flex;
  justify-content: center;
  width: 100%;
  ion-img{
    @media (min-width:0px) {
      width:100%;
    }
    @media (min-width:500px) {
      width:80%;
    }
    @media (min-width:725px) {
      width:60%;
    }
    @media (min-width:1124px) {
      width:40%;
    }

  }
}

.selected {
  color:#f9684e;
}

